{% extends 'base.html' %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">
    {% if form.instance.pk %}
        ✏️ Редактировать курс
    {% else %}
        ➕ Добавить курс
    {% endif %}
</h1>

<form method="post" class="bg-white p-6 rounded shadow max-w-md">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit"
            class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">
        Сохранить
    </button>
</form>

<a href="{% url 'course_list' %}" class="inline-block mt-4 text-blue-600">
    ← Назад к курсам
</a>
{% endblock %}
